:root {
    --primary_100: #2c5f2d;

    --secondary_100: #f7f4ed;
    --secondary_200: #d5e4c0;
    --secondary_300: #bcc9a9;
    --secondary_400: #acc981;
    --secondary_500: #97bc62;
    --secondary_600: #79964e;
    --secondary_700: #5b713b;
    --secondary_800: #3c4b27;

    --neutral_100: #ffffff;
    --neutral_200: #dbdbdc;
    --neutral_300: #909194;
    --neutral_400: #64656c;
    --neutral_500: #484951;
    --neutral_600: #323236;
    --neutral_800: #111111;

    --system_error: #ff4235;
    --system_info: #009dff;
    --system_success: #6ac42f;
    --system_warning: #ffec49;
}
