$icons-path: '../images/icons/';

.print-com-icon {
	$radius: 6px;
	$size: 24px;

	vertical-align: middle;
	display: inline-block;
	width: $size;
	height: $size;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-repeat: no-repeat;

	&.xs-size {
		$size: 12px;

		background-size: $size !important;
		width: $size;
		height: $size;
	}

	&.s-size {
		$size: 16px;

		background-size: $size !important;
		width: $size;
		height: $size;
	}

	&.m-size {
		$size: 18px;

		background-size: $size !important;
		width: $size;
		height: $size;
	}

	&.l-size {
		$size: 20px;

		background-size: $size !important;
		width: $size;
		height: $size;
	}

	&.nu8a-promo-logo {
		background: url('#{$icons-path}/nu8a-promo-logo.svg');
		// $size: 48px;
		background-size: 27px 20px !important;
		width: 27px;
		height: 20px;
	}

	&.nu8a-like-active-dark,
	&.nu8a-like-inactive-dark,
	&.nu8a-like-active-light,
	&.nu8a-like-inactive-light {
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		width: 38px;
		height: 12px;
	}

	&.nu8a-like-active-light {
		background: url('#{$icons-path}/nu8a-venga-active-light.svg');
	}

	&.nu8a-like-inactive-light {
		background: url('#{$icons-path}/nu8a-venga-inactive-light.svg');
	}

	&.nu8a-like-active-dark {
		background: url('#{$icons-path}/venga-active.svg');
		background-repeat: no-repeat;
	}

	&.nu8a-like-inactive-dark {
		background: url('#{$icons-path}/venga-inactive.svg');
		background-repeat: no-repeat;
	}

	&.nu8a-plus {
		background: url('#{$icons-path}/nu8a-plus.svg');
	}

	&.nu8a-minus {
		background: url('#{$icons-path}/nu8a-minus.svg');
	}

	&.nu8a-calendar {
		background: url('#{$icons-path}/nu8a-calendar.svg');
	}

	&.nu8a-pin-dropped {
		background: url('#{$icons-path}/nu8a-pin-dropped.svg');
	}

	&.nu8a-x {
		background: url('#{$icons-path}/nu8a-x.svg');

		&__white {
			background: url('#{$icons-path}/nu8a-x_white.svg');
		}
	}

	&.nu8a-close-circle {
		background: url('#{$icons-path}/close-circle.svg');
	}

	&.nu8a-pin {
		background: url('#{$icons-path}/nu8a-pin.svg');
	}

	&.nu8a-share {
		background: url('#{$icons-path}/nu8a-share.svg');
	}

	&.nu8a-tagged-users {
		background: url('#{$icons-path}/nu8a-people_hug.svg');
	}

	&.nu8a-sportclimber {
		background: url('#{$icons-path}/nu8a-sportclimber.svg');
	}

	&.nu8a-boulderer {
		background: url('#{$icons-path}/nu8a-boulderer.svg');
	}

	&.nu8a-gender-combined {
		background: url('#{$icons-path}/nu8a-gender-combined.svg');
	}

	&.nu8a-globe {
		background: url('#{$icons-path}/nu8a-globe.svg');
	}

	&.nu8a-vertical-submenu {
		background: url('#{$icons-path}/nu8a-vertical-submenu.svg');
	}

	&.nu8a-recent {
		background: url('#{$icons-path}/nu8a-recent.svg')
	}

	&.nu8a-edit {
		background: url('#{$icons-path}/nu8a-edit.svg')
	}

	&.nu8a-trash {
		background: url('#{$icons-path}/nu8a-trash.svg')
	}

	&.nu8a-photos {
		background: url('#{$icons-path}/nu8a-photos.svg');

		$size: 48px;
		background-size: $size !important;
		width: $size;
		height: $size;
	}

	&.nu8a-routes {
		background-image: url('#{$icons-path}/nu8a-routes.svg')
	}

	&.nu8a-draggable {
		background: url('#{$icons-path}/nu8a-draggable.svg')
	}

	&.nu8a-photographer {
		background: url('#{$icons-path}/nu8a-photographer.svg');
		background-repeat: no-repeat;
	}

	&.nu8a-arrow-left {
		background: url('#{$icons-path}/nu8a-arrow-left.svg');

		&__white {
			background: url('#{$icons-path}/nu8a-arrow-left_white.svg')
		}
	}

	&.nu8a-arrow-right {
		background: url('#{$icons-path}/nu8a-arrow-right.svg')
	}

	&.nu8a-search-arrow-right {
		background: url('#{$icons-path}/nu8a-search-arrow-right.svg')
	}

	&.nu8a-arrow-up {
		background: url('#{$icons-path}/nu8a-arrow-up.svg');

		&__white {
			background: url('#{$icons-path}/nu8a-arrow-up_white.svg')
		}
	}

	&.nu8a-arrow-down {
		background: url('#{$icons-path}/nu8a-arrow-down.svg');

		&__white {
			background: url('#{$icons-path}/nu8a-arrow-down_white.svg')
		}
	}

	&.nu8a-ascent-style {
		&__white {
			background: url('#{$icons-path}/nu8a-ascent-style-circle_white.svg')
		}
	}

	&.nu8a-menu {
		&__white {
			background: url('#{$icons-path}/nu8a-menu_white.svg')
		}
	}

	&.nu8a-search {
		background: url('#{$icons-path}/nu8a-search.svg');

		&__white {
			background: url('#{$icons-path}/nu8a-search_white.svg')
		}
	}

	&.nu8a-info {
		background: url('#{$icons-path}/nu8a-info.svg');
	}

	&.nu8a-info-green {
		background: url('#{$icons-path}/nu8a-info-green.svg');
	}

	&.nu8a-login {
		background: url('#{$icons-path}/nu8a-login.svg');
	}

	&.nu8a-recommend {
		background: url('#{$icons-path}/nu8a-recommend.svg');
	}

	&.nu8a-submenu {
		width: 12px;
		height: 12px;

		background: url('#{$icons-path}/nu8a-submenu.svg');
	}

	&.nu8a-gear-bad-anchor {
		background: url('#{$icons-path}/nu8a-gear-bad-anchor.svg')
	}

	&.nu8a-gear-bad-bolt {
		background: url('#{$icons-path}/nu8a-gear-bad-bolt.svg')
	}

	&.nu8a-high-first-bolt {
		background: url('#{$icons-path}/nu8a-high-first-bolt.svg')
	}

	&.nu8a-loose-rock {
		background: url('#{$icons-path}/nu8a-loose-rock.svg')
	}

	&.nu8a-bad-clipping-position {
		background: url('#{$icons-path}/nu8a-bad-clipping-position.svg')
	}
	
	&.nu8a-round-status-indicator-complete {
		background: url('#{$icons-path}/nu8a-result-service-round-status-indicator-complete.svg')
	}
}

@import '_icons-editor.scss';
