.cg-table {
    width: 100%;

    thead th,
    tbody td {
        border-bottom: 1px solid var(--neutral_200);
    }

    th {
       @include copyright;
       text-align: left;
    }

    tr > td:first-of-type,
    tr > th:first-of-type {
        padding-left: 8px;
    }

    tr > td:last-of-type,
    tr > th:last-of-type {
        padding-right: 8px;
    }

    tr > th:not(:first-of-type),
    tr > td:not(:first-of-type) {
        text-align: center;
    }
    
    th, td {
        padding: 16px 0;
    }
}