// @import './_variables.scss';

$main_font_family: 'IBM Plex Sans';

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1200px;

// COPY_M SECTION
@mixin copy_m {
    font-family: $main_font_family;
    font-size: 16px;
    line-height: 24px;
}

@mixin copy_m_reg {
    @include copy_m;
    font-style: normal;
    font-weight: normal;
}

@mixin copy_m_med {
    @include copy_m;
    font-style: normal;
    font-weight: 500;
}
