// @import './_variables.scss';

$main_font_family: 'IBM Plex Sans';

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1200px;

@mixin heading1 {
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 62.4px */
    text-transform: uppercase;
}

@mixin heading2 {
    font-family: Manrope;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 33.8px */
    text-transform: uppercase;
}

@mixin heading3 {
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 26px */
}

@mixin heading4 {
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 20.8px */
}

@mixin heading5 {
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 18.2px */
}

@mixin heading6 {
    font-family: Manrope;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 13px */
    text-transform: uppercase;
}

@mixin body_large {
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 21.6px */
}

@mixin body_large_bold {
    @include body_large;
    font-weight: bold;
}

@mixin body_medium {
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
}

@mixin body_small {
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
}

@mixin copyright {
    font-family: Manrope;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 13px */
}
